<section id="projects-showcase">
  <div class="projects-heading">
    <h1>Our Latest Projects</h1>
    <p>Here is our latest projects. You'll love them!</p>
  </div>

  <div class="projects-images">
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset6.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset7.webp"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset8.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset9.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset10.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset11.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset12.jpeg"
        class="hover"
      />
      <div class="image-text">
        <div class="image-text">
          <p>text</p>
        </div>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset13.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset14.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
    <figure>
      <img
        src="../../../assets/recreate_shaply_demo_assests/asset15.jpeg"
        class="hover"
      />
      <div class="image-text">
        <p>text</p>
      </div>
    </figure>
  </div>
</section>
