#projects-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 16, 21);
    color: #fff;
    padding: 96px 0px 0px;
}