<main>
  <section id="showcase">
    <h1>We Change Everything WordPress</h1>
    <p>This is the only WordPress theme you will ever want to use.</p>

    <div class="showcase-buttons">
      <button mat-raised-button class="first-button" color="accent">
        Read More
      </button>
      <button mat-raised-button class="second-button">Download Now</button>
    </div>
  </section>

  <section id="seo-friendly">
    <div class="align-children">
      <img src="../../assets/recreate_shaply_demo_assests/asset3.webp" />
      <div class="text">
        <h1>SEO Friendly</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar
          luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu
          tincidunt mauris aliquam. Duis commodo vitae ligula et interdum.
          Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies
        </p>
        <button mat-raised-button color="accent">Read More</button>
      </div>
    </div>
  </section>

  <section id="portfolio-section">
    <div class="align-children">
      <div class="text">
        <h1>Portfolio Section</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar
          luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu
          tincidunt mauris aliquam. Duis commodo vitae ligula et interdum.
        </p>
        <button mat-raised-button color="accent">SEE IT IN ACTION</button>
      </div>
      <img src="../../assets/recreate_shaply_demo_assests/asset4.webp" />
    </div>
  </section>

  <section id="second-showcase">
    <h1>Small Parallax Section</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet
      rhoncus porta. Ut quis sem quis purus lobortis dictum. Aliquam nec
      dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt leo ornare
      quis.
    </p>
    <button mat-raised-button color="accent">More Info</button>
  </section>

  <recreate-shapely-demo-third-showcase></recreate-shapely-demo-third-showcase>

  <recreate-shapely-demo-projects-showcase></recreate-shapely-demo-projects-showcase>

  <recreate-shapely-demo-customers-carousel></recreate-shapely-demo-customers-carousel>

  <recreate-shapely-demo-clients-carousel></recreate-shapely-demo-clients-carousel>

  <section id="download">
      <h1>Do you like this WordPress theme?</h1>
      <button mat-raised-button color="accent">DOWNLOAD NOW</button>
  </section>
</main>
