<section id="client-carousel">
  <h3>
    What Our Customers Say
  </h3>
  <div class="carousel">
    <div class="item">
      <p>
        Integer ut rutrum nulla, sit amet fringilla nisi. Nam nisl velit,
        vehicula at nibh sed, porttitor sollicitudin ante. Sed justo augue,
        vestibulum ut efficitur vitae, euismod et justo. Mauris sed mattis ante.
        Ut ligula lectus, consequat vitae neque ac, gravida hendrerit ante.
      </p>
      <img src="/assets/recreate_shaply_demo_assests/asset17.webp" />
      <p>John Doe</p>
    </div>
    <div class="item">
      <p>
        Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus dictum,
        augue tortor dictum ipsum, nec congue arcu lorem in nisl. Duis neque
        lacus, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius
        viverra ex, in venenatis magna ornare sit amet. Integer varius sit amet
        turpis eu ullamcorper.
      </p>
      <img src="/assets/recreate_shaply_demo_assests/asset16.webp" />
      <p>John Doe</p>
    </div>
  </div>
</section>
