<mat-toolbar>
  <span class="title">
    <h1>{{ title }}</h1>
  </span>

  <div class="page-links">
    <ul>
      <li><a [routerLink]="['/home']">HOME</a></li>
      <li><a [routerLink]="['/home']">BLOG</a></li>
      <li><a [routerLink]="['/home']">PORTFOLIO</a></li>
      <li><a [routerLink]="['/home']">name</a></li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <div id="footer-credits">
      <p>Copyright &copy; 2019 Austin Johnson. All rights reserved.</p>
  </div>
  <div class="social-links">
    <nav>
      <ul>
        <li><mat-icon svgIcon="facebook_f"></mat-icon></li>
        <li><mat-icon svgIcon="twitter"></mat-icon></li>
        <li><mat-icon svgIcon="linkedIn"></mat-icon></li>
        <li><mat-icon svgIcon="youtube"></mat-icon></li>
        <li><mat-icon svgIcon="instagram"></mat-icon></li>
      </ul>
    </nav>
  </div>
</footer>
