mat-toolbar{
    display: flex;
    background-color: #ffF;
    justify-content: space-around;
}

.title h1 {
    font-size: 24px; 
}

.page-links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.page-links a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding-right: 30px;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 16, 21);
    
    p {
        margin: 0;
        color: #fff;
        padding: 72px 0;
    }

    .social-links ul {
        display: flex;
        list-style: none;

        mat-icon {
            color: #fff;
        }
    }
}
