@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 24px;
  font-family: raleway, helvetica neue, Helvetica, Arial, sans-serif;
  color: #8c979e;
  overflow-x: hidden;
  font-weight: 400;
}
